<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>534240649429-729cfa3t0fkat1lgpm719eihcqvgitnd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534240649429-729cfa3t0fkat1lgpm719eihcqvgitnd</string>
	<key>API_KEY</key>
	<string>AIzaSyCSdnZ50sSON7SN6zu-j4SKDeMKbwTw9xM</string>
	<key>GCM_SENDER_ID</key>
	<string>534240649429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>li.mews.workshop.flutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-workshop-d7d60</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-workshop-d7d60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534240649429:ios:97dd1bfa1cea240767825c</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-workshop-d7d60.firebaseio.com</string>
</dict>
</plist>